.c-service-card {
  position: relative;

  width: rem(375);
  height: rem(488);

  &:hover {
    .c-service-card {
      &__wrap {
        height: 120%;

        &:after {
          transform: translateY(30%);
        }
      }
    }
  }

  &__wrap {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: rem(4);
    overflow: hidden;

    transition: height .3s ease;
    z-index: 1;

    &:after {
      @include after-before-elements;

      top: 0;
      left: 0;
      z-index: 2;

      width: 100%;
      height: 100%;

      background: linear-gradient(360deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 100%);

      transition: transform .3s linear;
    }
  }

  &__img {
    width: inherit;
    height: inherit;

    img {
      position: absolute;

      top: 0;
      left: 50%;

      width: auto;
      height: inherit;

      transform: translateX(-50%);
    }
  }

  &__content {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;

    z-index: 3;

    padding: rem(24) rem(18);
  }

  &__title {
    display: block;

    @extend %h3-title;
    color: $white;
    max-width: rem(250);

    margin-bottom: rem(23);

  }

  .--service-link {
    margin-left: auto;
    margin-right: rem(50);
  }
}
