.c-button {
  @extend %df-alc-jcc;


  &--underline {
    @extend %text-content;
    color: $white;

    border-bottom: rem(1) solid $primary;
    padding-bottom: rem(2);

    &:hover {
      color: $primary;
    }
  }
}
