.c-arrow-link {
  position: relative;
  display: block;
  width: fit-content;

  padding-bottom: rem(12);

  @extend %link-arrow-button;
  color: $white;

  &.--front-slider-about {
    &:hover {
      color: $white;
    }
  }

  &:hover {
    svg {
      transform: translateX(#{rem(20)});
    }
  }

  svg {
    position: absolute;

    right: rem(-30);
    bottom: 0;

    max-width: rem(120);
    height: rem(7);

    transition: transform .3s ease;
  }
}
.c-link {
  @extend %df-alc-jcc;
  padding: 0 rem(47);

  width: fit-content;
  height: rem(56);

  color: $black;

  &--gold-border {
    border-radius: rem(2);
    border: rem(1) solid $primary;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
}
