body {
  @extend %regular;
}
html {
  font-size: 1.1111vw;
  //@include for-width(+desktop-large) {
  //  font-size: 20px;
  //}
  //@include for-width(-tablet-landscape) {
  //  font-size: 16px;
  //}
}
svg, img {
  width: 100%;
  height: 100%;
  display: block;
}
a {
    &:hover {
        color: $primary;
    }
}

@mixin after-before-elements {
  position: absolute;
  content: '';

  display: block;
}

.--layout {
  &-default {
    padding-top: rem(79);
  }
}

.--half-black {
  &:after {
    @include after-before-elements;

    top: 0;
    left: 0;
    z-index: -1;

    width: 50%;
    height: 100%;

    background-color: $black_2;
  }
}
