// ================ ConthraxSb-Regular ================
@include font_face(ConthraxSb-Regular, ConthraxSb-Regular);

%conthrax {
  font-family: 'ConthraxSb-Regular', sans-serif;
}

// ################ ConthraxSb-Regular ################

// ================ CenturyGothic ================
@include font_face(CenturyGothic, CenturyGothic);

%regular {
  font-family: 'CenturyGothic', sans-serif;
}

// ################ CenturyGothic ################

// ================ CenturyGothic-Bold ================
@include font_face(CenturyGothic-Bold, CenturyGothic-Bold);

%bold {
  font-family: 'CenturyGothic-Bold', sans-serif;
}

// ################ CenturyGothic-Bold ################

// ====================== Font sizes =======================

%ttu {
  text-transform: uppercase;
}

%--letter-space-02 {
  letter-spacing: 0.02em;
}
%--letter-space-03 {
  letter-spacing: 0.03em;
}
%--letter-space-04 {
  letter-spacing: 0.04em;
}
%--letter-space-06 {
  letter-spacing: 0.06em;
}


%main-title {
  @extend %conthrax;
  @include font_sizes(72, 86);
  @extend %--letter-space-02;
}

%h2-title {
  @extend %regular;
  @include font_sizes(38,46);
  @extend %--letter-space-02;
}

%h3-title {
  @extend %bold;
  @include font_sizes(22,25);
  @extend %--letter-space-03;
}

%bold-subtitle {
  @extend %bold;
  @include font_sizes(17, 25);
  @extend %--letter-space-04;
}

%text-content {
  @extend %regular;
  @include font_sizes(16, 25);
  @extend %--letter-space-03;
}

%link-arrow-button {
  @extend %regular;
  @include font_sizes(16, 20);
  @extend %--letter-space-06;
}

%button-text {
  @extend %regular;
  @include font_sizes(18, 25);
  @extend %--letter-space-02;
}
