.container {
  width: 100%;
  margin: 0 auto;

  max-width: rem(1200);

  //@include for-width(tablet, tablet-landscape) {
  //  padding: 0 rem(40);
  //}
  //
  //@include for-width(-tablet) {
  //  padding: 0 rem(10);
  //}

}
