%df-alc {
  display: flex;
  align-items: center;
}

%df-alc-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%df-alc-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

%bg-reset {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%evt-none {
    pointer-events: none;
}

%evt-all {
    pointer-events: all;
}
