//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$black: #1E1E1E;
$white: #fff;

$black_2: #2B2B2B;
$black_gradient: linear-gradient(90deg, #000000 50.33%, #FFFFFF 50.33%);
$primary: #C5A47D;
$primary_text: #FFC989;
$image_gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0) 27.82%);


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
