<template>
  <section class="c-front-about-sect">
    <w-container>
      <div class="c-front-about">
        <div class="c-front-about__wrap c-front-about__wrap_left">
          <figure class="c-front-about__img">
            <img src="/img/front-about.jpg" alt="About us">
          </figure>
          <div class="c-front-about__ico">
            <years/>
          </div>
        </div>
        <div class="c-front-about__wrap c-front-about__wrap_right">
          <h2 class="c-front-about__title">
            Мы <span>лидеры</span> в <br>
            строительстве <br>
            <span>элитного</span> жилья
          </h2>
          <div class="c-front-about__content">
            <p class="c-front-about__text">
              Компанией элитного строительства «MAS Group» было построено более 300 коттеджей
              и вилл, площадью от 450 до 2800 м2.
            </p>
            <p class="c-front-about__text">
              Общая площадь построенного частного<br>
              элитного жилья, составляет<br>
              более 230 000 м2.
            </p>
          </div>
          <l-link to="/" modifier="--front-about" theme="gold-border">
            O нас
          </l-link>
        </div>
      </div>
    </w-container>
  </section>
</template>

<script>
import years from '~/assets/img/icons/front-10-years.svg?inline';
import WContainer from "@/components/wrappers/w-container";
import LLink from "~/components/links/l-link";
export default {
  name: "front-about",
  components: {LLink, WContainer, years}
}
</script>
