<template>
  <div class="c-front-slider">
    <div class="c-front-slider__wrapper">
      <div v-for="(slide, index) in sliders"
           :key="index"
           :class="{ active: active_index === index }"
           class="c-front-slider__item">
        <figure class="c-front-slider__item-image">
          <img :src="slide" alt="Slider image">
        </figure>
      </div>
    </div>
    <div class="c-front-slider__controls">
      <div class="c-front-slider__controls-wrap">
        <b-button theme="slider-arrow"
                  @click="change_slide('prev')"
                  modifier="--front-slider-control --front-slider-control-left">
          <arrow/>
        </b-button>
        <div class="c-front-slider__controls-counter">
          <span class="--current">{{ show_index }}</span>
          <span class="--all-sliders">/{{ all_sliders }}</span>
        </div>
        <b-button theme="slider-arrow"
                  @click="change_slide('next')"
                  modifier="--front-slider-control --front-slider-control-right">
          <arrow/>
        </b-button>
      </div>
      <l-arrow-link class="--front-slider-about" to="/">
        О проекте
      </l-arrow-link>
    </div>
  </div>
</template>

<script>
import arrow from "~/assets/img/icons/slider-arrow.svg?inline";
import BButton from "~/components/buttons/b-button";
import LArrowLink from "@/components/links/l-arrow-link";
export default {
  name: "front-header-slider",
  components: {LArrowLink, BButton, arrow},
  data() {
    return {
      sliders: [
        '/img/front-slider/sl-item-1.jpg',
        '/img/front-slider/sl-item-2.jpg',
        '/img/front-slider/sl-item-3.jpg',
        '/img/front-slider/sl-item-1.jpg',
        '/img/front-slider/sl-item-2.jpg',
        '/img/front-slider/sl-item-3.jpg',
        '/img/front-slider/sl-item-2.jpg',
      ],
      active_index: 0,
    }
  },
  computed: {
    show_index() {
      return this.active_index > 10 ? this.active_index + 1 : '0' + (this.active_index + 1);
    },
    all_sliders() {
      let count = this.sliders.length - 1;
      return count > 10 ? count : '0' + count;
    }
  },
  methods: {
    change_slide(side) {
      let sliders_count = this.sliders.length;

      if(side === 'next' ) {
        if(this.active_index === (sliders_count - 1)) {
          this.active_index = 0
        } else {
          this.active_index = this.active_index + 1;
        }
      }
      if(side === 'prev') {
        if(this.active_index === 0) {
          this.active_index = sliders_count - 1;
        } else {
          this.active_index = this.active_index - 1;
        }
      }

    }
  },
}
</script>
