<template>
  <header class="c-front-header-sect --half-black">
    <w-container>
      <div class="c-front-header">
        <div class="c-front-header__wrap c-front-header__wrap_top">
          <b-title level="1" class_level="1" modifier="--front-header-title">
            <span>Art</span>
            <span>House</span>
          </b-title>
        </div>
        <div class="c-front-header__wrap c-front-header__wrap_main">
          <div class="c-front-header__wrap c-front-header__wrap_left">
            <front-header-slider/>
          </div>
          <div class="c-front-header__wrap c-front-header__wrap_right">
            <h2 class="c-front-header__subtitle">
              Мы строим не дома,<br>
              мы строим <span>ваше<br> будущее</span>
            </h2>
          </div>
        </div>
      </div>
    </w-container>
  </header>
</template>

<script>
import WContainer from "@/components/wrappers/w-container";
import FrontHeaderSlider from "@/components/pages/front/front-header-slider";
import BTitle from "@/components/base/b-title";
export default {
  name: "front-header",
  components: {BTitle, FrontHeaderSlider, WContainer}
}
</script>
