<template>
  <section class="c-front-services-sect">
    <w-container>
      <div class="c-front-services">
        <b-title level="2" class_level="2" modifier="--front-services-title">
          Мы создаем
        </b-title>
        <div class="c-front-services__items">
          <b-card v-for="_ in Array(3)"/>
        </div>
      </div>
    </w-container>
  </section>
</template>

<script>
import WContainer from "~/components/wrappers/w-container";
import BTitle from "~/components/base/b-title";
import BCard from "~/components/cards/b-card";
export default {
  name: "front-services",
  components: {BCard, BTitle, WContainer}
}
</script>
