.c-front-about {
  display: flex;
  justify-content: space-between;

  &-sect {
    padding-top: rem(128);
    padding-bottom: rem(126);
  }

  &__wrap {
    &_left {
      position: relative;
      width: 100%;
      max-width: rem(534);
      height: rem(699);

      filter: drop-shadow(0px 16px 24px rgba(8, 35, 48, 0.16));
      img {
        border-radius: rem(3);
        overflow: hidden;
      }
    }

    &_right {
      padding-top: rem(90);

      text-align: right;
      max-width: rem(414);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__ico {
    position: absolute;
    top: rem(316);
    right: rem(-228);
  }

  &__title {
    @extend %regular;
    @include font_sizes(48, 64);
    @extend %--letter-space-02;

    span {
      color: $primary;
    }
  }

  &__content {
    margin: rem(56) 0 rem(64);
  }

  &__text {
    @extend %link-arrow-button;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .--front-about {
    margin-left: auto;
  }
}
