.c-front-header {

  &-sect {
    position: relative;

    padding-top: rem(73);
    padding-bottom: rem(61);
  }

  .--front-header-title {
    text-align: center;
    @extend %ttu;

    padding-left: rem(130);

    span {
      &:first-child {
        color: $white;
      }
    }
  }

  &__wrap {
    &_top {
      padding-bottom: rem(41);
    }
    &_main {
      @extend %df-alc-jcsb;
    }
  }

  &__subtitle {
    @extend %regular;
    @include font_sizes(40, 58);
    //@extend %ttu;
    color: $black;

    //max-width: rem(441);
    span {
      color: $primary;
    }
  }
}

.c-front-slider {
  width: rem(714);
  max-width: rem(714);

  padding: rem(56) rem(63) 0 rem(63);

  border-radius: rem(3);

  background-color: $primary;
  box-shadow: 0px 24px 32px rgba(8, 35, 48, 0.24);

  &__wrapper {
    position: relative;

    width: 100%;
    height: rem(307);

    overflow: hidden;

    border-radius: rem(3);

    filter: drop-shadow(0px 16px 24px rgba(8, 35, 48, 0.32));
  }

  &__controls {
    @extend %df-alc-jcsb;
    padding-top: rem(17);

    &-wrap {
      @extend %df-alc-jcsb;
    }

    .--front-slider-control-left {
      margin-right: rem(22);
      span {
        transform: rotate(180deg);
      }
    }

    .--front-slider-control-right {
      margin-left: rem(33);
    }

    &-counter {
      position: relative;
      .--current {
        @extend %regular;
        @include font_sizes(60, 73);
        @extend %--letter-space-06;

        color: $white;
      }
      .--all-sliders {
        position: absolute;

        top: 0;
        right: rem(-33);

        @extend %regular;
        @include font_sizes(18, 22);
        @extend %--letter-space-06;

        color: rgba($white, .5);
      }
    }

    .--front-slider-about {
      margin-right: rem(30);
    }
  }

  &__item {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 1s ease;

    &.active {
      opacity: 1;
    }
  }
}
