.c-front-services {

  &-sect {
    padding-bottom: rem(213);
  }

  .--front-services-title {
    text-align: center;
    margin-bottom: rem(75);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(37);
  }
}
