<template>
  <nav class="c-navigation">
    <w-container>
      <div class="nav">
        <div class="nav__logo">
          <b-logotype/>
        </div>
        <div class="nav__wrapper">
            <ul class="nav__menu">
              <li v-for="(menu_item, index) in menu" :key="index" class="nav__menu-item">
                <nuxt-link class="nav__menu-link" :to="menu_item.path">
                <span>
                  {{ menu_item.title }}
                </span>
                </nuxt-link>
              </li>
            </ul>
            <b-button theme="underline">
              Связаться с нами
            </b-button>
        </div>
      </div>
    </w-container>
  </nav>
</template>

<script>
import WContainer from "@/components/wrappers/w-container";
import BLogotype from "@/components/base/b-logotype";
import BButton from "@/components/buttons/b-button";
export default {
  name: "m-navigation",
  components: {BButton, BLogotype, WContainer},
  data() {
    return {
      menu: [
        {
          title: 'Услуги',
          path: '/'
        },
        {
          title: 'Проекты',
          path: '/'
        },
        {
          title: 'Портфолио',
          path: '/'
        },
        {
          title: 'О Нас',
          path: '/'
        },
        {
          title: 'Контакты',
          path: '/'
        },
      ]
    }
  },
}
</script>
