<template>
  <nuxt-link class="c-arrow-link" :to="to">
    <span>
      <slot></slot>
    </span>
    <arrow/>
  </nuxt-link>
</template>

<script>
import arrow from '~/assets/img/icons/link-arrow.svg?inline'
export default {
  name: "l-arrow-link",
  components: {arrow},
  props: {
    to: {
      type: String,
      required: true,
      default: '/'
    },
  },
}
</script>
