<template>
  <nuxt-link class="c-link"
             :class="classes"
             :to="to">
    <span>
      <slot></slot>
    </span>
  </nuxt-link>
</template>

<script>
export default {
  name: "l-link",
  props: {
    modifier: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: '/',
      required: true,
    },
    theme: {
      type: String,
      default: 'yellow',
    },
  },
  computed: {
    classes() {
      const b_class = (mod) => {
        return 'c-link--' + this[mod];
      };

      return [
        {[b_class('theme')]: this.theme},
        {[this.modifier]: this.modifier},
      ]
    }
  },
}
</script>
