<template>
  <div class="c-service-card">
    <div class="c-service-card__wrap">
      <figure class="c-service-card__img">
        <img :src="cover" :alt="title">
      </figure>
      <div class="c-service-card__content">
        <h3 class="c-service-card__title">
          <nuxt-link :to="card_path">
            {{ title | crop_title }}
          </nuxt-link>
        </h3>
        <l-arrow-link :to="card_path" class="--service-link">
          Подробнее
        </l-arrow-link>
      </div>
    </div>
  </div>
</template>

<script>
import LArrowLink from "~/components/links/l-arrow-link";
export default {
  name: "b-card",
  components: {LArrowLink},
  props: {
    cover: {
      type: String,
      default: '/img/project-items/project-itm-2.jpg'
    },
    title: {
      type: String,
      default: 'Дома в канадском диком стиле'
    },
    card_path: {
      type: String,
      default: '/'
    },
  },
}
</script>
