.c-title {
  color: $black_2;

  &--1 {
    @extend %main-title;
  }

  &--2 {
    @extend %h2-title;
  }

  &--3 {
    @extend %h3-title;
  }

  &--4 {
    @extend %bold-subtitle;
  }

  &--5 {
    @extend %button-text;
  }

  &--6 {
    @extend %text-content;
  }
}
