<template functional>
  <nuxt-link class="c-logotype" to="/">
    <img src="/img/logotype.svg" alt="Art-House Logo">
  </nuxt-link>
</template>

<script>
export default {
  name: "b-logotype"
}
</script>
