<template>
  <div class="--layout --layout-default">
    <m-navigation/>
    <main class="--main-content">
      <Nuxt />
    </main>
  </div>
</template>
<script>
import MNavigation from "@/components/main/m-navigation";
export default {
  components: {MNavigation}
}
</script>
