.c-navigation {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: auto;

  padding: rem(16) 0;

  background-color: $black_2;
}

.c-logotype {
  display: block;
  max-height: rem(48);
}

.nav {
  @extend %df-alc-jcsb;

  &__wrapper {
    @extend %df-alc;
  }

  &__menu {
    @extend %df-alc;

    &-item {
      margin-right: rem(38);
    }

    &-link {
      @extend %regular;
      @include font_sizes(16, 20);
      color: $white;

      @extend %ttu;
    }
  }
}
