<template>
  <div class="--front-page">
    <front-header/>
    <front-about/>
    <front-services/>
  </div>
</template>

<script>
import FrontHeader from "@/components/pages/front/front-header";
import FrontAbout from "~/components/pages/front/front-about";
import FrontServices from "~/components/pages/front/front-services";
export default {
  components: {FrontServices, FrontAbout, FrontHeader}
}
</script>
